/**
 * Neat Width
 *
 * @author Takuto Yanagida
 * @version 2023-01-16
 */

/*
--nc-table-shadow-right      : inset -2rem 0 1rem -1rem #0000001a;
--nc-table-shadow-left       : inset  2rem 0 1rem -1rem #0000001a;
--nc-table-caption-background: Canvas;
*/

@mixin neat($do-reset: true) {
	display  : block;
	width    : fit-content;
	max-width: 100%;
	overflow : auto;

	@if $do-reset {
		border-collapse: collapse;  // For reset
	}
}

@mixin full {
	width: 100%;

	border-collapse: collapse;
}


// -----------------------------------------------------------------------------


@mixin scroll {
	caption {
		display     : block;
		position    : sticky;
		inset-inline: 0;

		background: var(--nc-table-caption-background, Canvas);
	}
	td, th {
		position: relative;
		z-index : -1;
	}
	box-shadow:
		var(--nc-table-shadow-right, inset -2rem 0 1rem -1rem #0000001a),
		var(--nc-table-shadow-left, inset  2rem 0 1rem -1rem #0000001a);
}

@mixin scroll-right {
	box-shadow: var(--nc-table-shadow-right, inset -2rem 0 1rem -1rem #0000001a);
}

@mixin scroll-left {
	box-shadow: var(--nc-table-shadow-left, inset  2rem 0 1rem -1rem #0000001a);
}


// -----------------------------------------------------------------------------


@mixin neat-print {
	display: table;

	td, th {
		min-width  : initial !important;
		white-space: normal  !important;
	}
}

@mixin scroll-print {
	box-shadow: none !important;

	caption {
		display: table-caption;
	}
}
