/**
 *
 * Neat Width
 *
 * @author Takuto Yanagida
 * @version 2021-10-25
 *
 */


@mixin style-neat {
	display  : block;
	width    : fit-content;
	max-width: 100%;
	overflow : auto;

	border-collapse: collapse;
}

@mixin style-full {
	width: 100%;

	border-collapse: collapse;
}


// -----------------------------------------------------------------------------


@mixin style-scroll {
	--background-color: #fff;

	caption {
		display : block;
		position: sticky;
		left    : 0;
		right   : 0;

		background-color: var(--background-color);

		> span {
			display   : inline-block;
			text-align: left;
		}
	}
	td, th {
		position: relative;
		z-index : -1;
	}
	box-shadow: inset  2rem 0 1rem -1rem rgba(#000, 0.1),
				inset -2rem 0 1rem -1rem rgba(#000, 0.1);
}

@mixin style-scroll-right {
	box-shadow: inset -2rem 0 1rem -1rem rgba(#000, 0.1);
}

@mixin style-scroll-left {
	box-shadow: inset 2rem 0 1rem -1rem rgba(#000, 0.1);
}
