/**
 *
 * Neat Width
 *
 * @author Takuto Yanagida
 * @version 2021-11-29
 *
 */


@mixin custom-property {
	--nc-table-caption-background: Canvas;
}

@mixin custom-property-side-shadow {
	--nc-table-shadow-right: inset -2rem 0 1rem -1rem #{rgba(#000, 0.1)};
	--nc-table-shadow-left : inset  2rem 0 1rem -1rem #{rgba(#000, 0.1)};
}


// -----------------------------------------------------------------------------


@mixin neat {
	display  : block;
	width    : fit-content;
	max-width: 100%;
	overflow : auto;

	border-collapse: collapse;

	* { box-sizing: border-box; }
}

@mixin full {
	width: 100%;

	border-collapse: collapse;
}


// -----------------------------------------------------------------------------


@mixin scroll {
	caption {
		display     : block;
		position    : sticky;
		inset-inline: 0;

		background: var(--nc-table-caption-background);
	}
	td, th {
		position: relative;
		z-index : -1;
	}
	box-shadow: var(--nc-table-shadow-right), var(--nc-table-shadow-left);
}

@mixin scroll-right {
	box-shadow: var(--nc-table-shadow-right);
}

@mixin scroll-left {
	box-shadow: var(--nc-table-shadow-left);
}


// -----------------------------------------------------------------------------


@mixin neat-print {
	display: table;

	td, th {
		min-width  : initial !important;
		white-space: normal  !important;
	}
}

@mixin scroll-print {
	box-shadow: none !important;

	caption {
		display: table-caption;
	}
}
