/**
 *
 * Usable View
 *
 * @author Takuto Yanagida
 * @version 2021-01-25
 *
 */


@mixin style-fixed-header-container {
	display   : none;
	position  : fixed;
	top       : 0;
	z-index   : 99;
	margin    : 0 !important;  // for cancel 'stile-margin-inside'
	overflow-x: hidden;

	box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.5);
	&[data-nc-scroll-right], &[data-nc-scroll-left]  {
		box-shadow: inset  2rem 0 1rem -1rem rgba(#000, 0.25),
					inset -2rem 0 1rem -1rem rgba(#000, 0.25),
					0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.5);
	}
	&[data-nc-scroll-right]:not([data-nc-scroll-left]) {
		box-shadow: inset -2rem 0 1rem -1rem rgba(#000, 0.25),
					0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.5);
	}
	&[data-nc-scroll-left]:not([data-nc-scroll-right]) {
		box-shadow: inset 2rem 0 1rem -1rem rgba(#000, 0.25),
					0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.5);
	}

	@media print { display: none !important; }
}

@mixin style-fixed-header-table {
	display: table;
	margin : 0;

	overflow-x     : hidden;
	pointer-events : none;
	backdrop-filter: blur(0.1rem);

	border-collapse: collapse;
	border-spacing : 0;
}

@mixin style-fixed-scroll-bar {
	position  : fixed;
	bottom    : 0;
	z-index   : 99;
	margin    : 0;
	overflow-x: auto;
	overflow-y: hidden;  // for IE11 & Edge

	height: calc(1rem + 2px);  // for Safari
	border: 1px solid transparent;

	display: none;
	@media print { display: none !important; }

	> div { height: 1px; }  // Spacer
}
