/**
 * Style for Document
 *
 * @author Takuto Yanagida
 * @version 2025-02-19
 */

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.8;

	scroll-behavior   : smooth;
	scroll-padding-top: 8rem;

	@media screen and (min-width: 56rem) {
		scroll-padding-top: calc(8rem / 1.15);
	}
}

header,
main {
	margin-inline: auto;
	width        : min(calc(100% - 2vw), 48rem);
}

header {
	position  : sticky;
	top       : 0;
	z-index   : 1;
	min-height: 6rem;

	border          : 1px solid #ddd;
	background-color: rgba(#fff, 0.5);
	backdrop-filter : blur(4px);
}

main {
	margin-block-start: 2rem;

	@media screen and (min-width: 56rem) {
		zoom: 1.15;
	}
}


// -----------------------------------------------------------------------------


div.blank {
	margin-block    : 2rem;
	height          : 20vh;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 6px, #defa 6px, #defa 12px);
}
