html {
	scroll-behavior   : smooth;
	scroll-padding-top: 8rem;

	font-family: sans-serif;
}

header,
main {
	margin-inline: auto;
	width : min(calc(100% - 2vw), 48rem);
}

header {
	position: sticky;
	top     : 0;
	z-index : 1;
	height  : 6rem;

	border          : 1px solid #ddd;
	background-color: rgba(#fff, 0.5);
	backdrop-filter : blur(4px);
}
